git lfs untrack "*.uasset"
git lfs untrack "*.umap"
git lfs untrack "*.fbx"
git lfs untrack "*.obj"
git lfs untrack "*.png"
git lfs untrack "*.jpeg"
git lfs untrack "*.hdr"
git lfs untrack "*.exr"
git lfs untrack "*.mp3"
git lfs untrack "*.wav"
git lfs untrack "*.mp4"
git lfs untrack "*.mov"
git lfs untrack "*.psd"
git lfs untrack "*.mb"
git lfs untrack "*.tga"
git lfs untrack "*.cubemap"
git lfs untrack "*.tif"
git lfs untrack "*.bin"
git lfs untrack "*.duf"
git lfs untrack "*.upk"
git lfs untrack "*.udk"
git lfs untrack "*.pak"
